
.row div {
    background-clip: content-box;
    background-color: aquamarine;
    
}


.col-4 {
    height: 400px;
}

.col-6 {
 height: 400px;   
}
.col-12 {
    height: 130px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}